{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>DZ trash free</title>
    <link rel="stylesheet" href="{% static '/css/home_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div class="page">
    <div class="navbar">
        <img class="logo" src="{%static '/images/planet-earth (1).png' %}" alt="" /><label class="logo">DZ Trash Free</label> 
    <ul>
        <li><a href="{%url 'home'%}"><b>Home</b></a></li>
        <li><a href="{%url 'login'%}"> <b>Sign In <p class="slash" style="display: inline;">/</p> Sign Up</b></a></li>
        <li><a href="#page2"><b>Events</b></a></li>
        <li><a href="#articles"><b>Articles</b></a></li>
        <li><a href="#page3"><b>About Us</b></a></li>
        <li><button class="bt"><a href="#page4"><b>Contact us</b></a></button></li>
    
    </ul>
</div>
        <div class="left-column"><pre>     Do you want to keep your <br>      environement  <span class='clean'>CLEAN</span>?</pre>
            <button class="button1"><a href="{%url 'login'%}"><span id="btn4"><b>Try Now</span></b></a>   </button>
    </div>
</div>
<div class="page2" id="page2">
    <h2 class="titlearticle">Events</h2>
    <div class="three-boxes">
        
        <div id="box11" class="box" >
            <h2>Beach Cleaning</h2>
            <img class="img4" src="{%static '/images/image1.jpg' %}" style="margin: 5px auto;">
            <p class="date"><i class="fa fa-calendar-o" id="date" aria-hidden="true"></i>Mai,19,2022</p>
            <p class="date" style="margin-right: 200px;"><i class="fa fa-tree" aria-hidden="true" id="date"></i>Nes Lkhir</p>
            <h2>Description</h2>
            <div class="description" ><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quidem aliquid deleniti omnis nesciunt ipsam velit, iusto, ad rerum ex, blanditiis modi repellendus fuga illo vero enim optio numquam! Expedita.</p></div>
            <button id="btn1" class="btn"><a href="{%url 'login'%}"><span id="btn4"><b>Discover More</b></span></a></button>
        </div>
        
        <div id="box22" class="box">
            <h2>Beach Cleaning</h2>
            <img class="img4" src="{%static '/images/image1.jpg' %}" style="margin: 5px auto;">
            <p class="date"><i class="fa fa-calendar-o" id="date" aria-hidden="true"></i>Mai,19,2022</p>
            <p class="date" style="margin-right: 200px;"><i class="fa fa-tree" aria-hidden="true" id="date"></i>Nes Lkhir</p>
            <h2>Description</h2>
            <div class="description"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quidem aliquid deleniti omnis nesciunt ipsam velit, iusto, ad rerum ex, blanditiis modi repellendus fuga illo vero enim optio numquam! Expedita.</p></div>
            <button id="btn2" class="btn"><a href="{%url 'login'%}"><span id="btn4"><b>Discover More</b></span></a></button>
        </div>
        
        <div id="box33" class="box">
            <h2>Beach Cleaning</h2>
            <img class="img4" src="{%static '/images/image1.jpg' %}" style="margin: 5px auto;">
            <p class="date"><i class="fa fa-calendar-o" id="date" aria-hidden="true"></i>Mai,19,2022</p>
            <p class="date" style="margin-right: 200px;"><i class="fa fa-tree" aria-hidden="true" id="date"></i>Nes Lkhir</p>
            <h2>Description</h2>
            <div class="description"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quidem aliquid deleniti omnis nesciunt ipsam velit, iusto, ad rerum ex, blanditiis modi repellendus fuga illo vero enim optio numquam! Expedita.</p></div>
            <button id="btn3" class="btn"><a href="{%url 'login'%}"><span id="btn4"><b>Discover More</b></span></a></button>
        </div>
    </div>
</div>

<div class="page3" id="page3">s
    <img class="img2" src="{%static '/images/2.png' %}">
    <div class="text3">
        <h1>OUR PLANS</h1>
        <br><br>
        <h2>Report a  trash</h2>
        <p>Be the change by reporting the trash that you face <br>in your day and you want to clean.</p>
        <br>
        <h2>Participate in events</h2>
        <p>Participate in the events of collecting the trash and saving the planet.</p>
        <br><br>
        <button class="btn4"><a href="{%url 'login'%}"><span id="btn4"><b>Try Now</b></span></a</button>

    </div>
</div>
<div class="page4" id="page4">
    <div class="container">
        <div class="content">
          <div class="left-side">
              <div class="facebook details">
                  <a href="#" class="fa fa-facebook"></a>
                  <div class="topic">Our Facebook</div>
                  <div class="text-one">Leave us a comment</div>
                </div>
                <div class="intagram details">
                    <a href="#" class="fa fa-instagram"></a>
                    <div class="topic">Our Instagram</div>
                    <div class="text-one">Leave us a comment</div>
                </div>
                <div class="address details">
                  <i class="fas fa-map-marker-alt"></i>
                  <div class="topic">Address</div>
                  <div class="text-one">Surkhet, NP12</div>
                  <div class="text-two">Birendranagar 06</div>
                </div>
            <div class="phone details">
              <i class="fas fa-phone-alt"></i>
              <div class="topic">Phone</div>
              <div class="text-one">+0098 9893 5647</div>
              <div class="text-two">+0096 3434 5678</div>
            </div>
            <div class="email details">
              <i class="fas fa-envelope"></i>
              <div class="topic">Email</div>
              <div class="text-one">codinglab@gmail.com</div>
              <div class="text-two">info.codinglab@gmail.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
