{%load static%} {%load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Posts Page</title>
    <link rel="stylesheet" href="{% static '/css/organisationposts_style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/organisationposts_formevent.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav>
      <label class="logo"><img class="logo" src="{%static '/images/planet-earth (1).png' %}" alt="" />DZ Trash Free</label>
      <ul>
        <li><a href="{%url 'organisation-home'%}"><b>Home</b></a></li>
        <li><a href="{%url 'user-profile'%}"><b>My Profile</b></a></li>
        <li><a href="#articles"><b>Articles</b></a></li>
        <li><a href="{%url 'organisation-events'%}"><b>Events</b></a></li>
        <li><a href="{%url 'organisation-posts'%}"><b>Posts</b></a></li>
        <li><a href="#page4"><b>Contact Us</b></a></li>
        <li><a href="{%url 'logout'%}"><b>Log Out</b></a></li>    
    </ul>
    </nav>
    <p class="post">Search for a post in :</p>
    <form  method='GET'class="search" action="" style="margin:auto;max-width:300px">
      {%csrf_token%}
      <div class="input-field">
        <select class="searchwilaya" name="search-post" >
          <option value="" disabled selected hidden>Wilaya</option> 
         <option value="1">1-Adrar</option>
         <option value="2">2-Chlef</option>
         <option value="3">3-Laghouat</option>
         <option value="4">4-Oum El Bouaghi</option>
         <option value="5">5-Batna</option>
         <option value="6">6-Béjaïa</option>
         <option value="7">7-Biskra</option>
         <option value="8">8-Béchar</option>
         <option value="9">9-Blida</option>
         <option value="10">10-Bouira</option>
         <option value="11">11-Tamanrasset</option>
         <option value="12">12-Tébessa</option>
         <option value="13">13-Tlemcen</option>
         <option value="14">14-Tiaret</option>
         <option value="15">15-Tizi Ouzou</option>
         <option value="16">16-Alger</option>
         <option value="17">17-Djelfa</option>
         <option value="18">18-Jijel</option>
         <option value="19">19-Sétif</option>
         <option value="20">20-Saïda</option>
         <option value="21">21-Skikda</option>
         <option value="22">22-Sidi Bel Abbès</option>
         <option value="23">23-Annaba</option>
         <option value="24">24-Guelma</option>
         <option value="25">25-Constantine</option>
         <option value="26">26-Médéa</option>
         <option value="27">27-Mostaganem</option>
         <option value="28">28-M'Sila</option>
         <option value="29">29-Mascara</option>
         <option value="30">30-Ouargla</option>
         <option value="31">31-Oran</option>
         <option value="32">32-El Bayadh</option>
         <option value="33">33-Illizi</option>
         <option value="34">34-Bordj Bou Arreridj</option>
         <option value="35">35-Boumerdès</option>
         <option value="36">36-El Tarf</option>
         <option value="37">37-Tindouf</option>
         <option value="38">38-Tissemilt</option>
         <option value="39">39-El Oued</option>
         <option value="40">40-Khenchela</option>
         <option value="41">41-Souk Ahras</option>
         <option value="42">42-Tipaza</option>
         <option value="43">43-Mila</option>
         <option value="44">44-Aïn Defla</option>
         <option value="45">45-Naâma</option>
         <option value="46">46-Aïn Témouchent</option>
         <option value="47">47-Ghardaïa</option>
         <option value="48">48-Relizane</option>
         <option value="49">49-Timimoun</option>
         <option value="50">
           50-Bordj Badji Mokhtar
         </option>
         <option value="51">51-Ouled Djellal</option>
         <option value="52">52-Béni Abbès</option>
         <option value="53">53-In Salah</option>
         <option value="54">54-In Guezzam</option>
         <option value="55">55-Touggourt</option>
         <option value="56">56-Djanet</option>
         <option value="57">57-M'Ghair</option>
         <option value="58">58-El Meniaa</option>
       </select>
      </div>
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    {%if search_post%}
    
    <section class="articles">
      {%for searched_post in searched_posts%}
      <div class="article">
        <div class="left">
          <img src="{{searched_post.image.url}}" alt="" />
        </div>
        <div class="right">
          <p class="date">{{searched_post.created_at}}</p>
          <h1>{{searched_post.title}}</h1>
          <p class="description">
            {{searched_post.description}}
          </p>
          <p class="auteur">
            <i class="fas fa-map-marker"> {{searched_post.location}},{{searched_post.wilaya}}</i>
          </p>
          <p class="auteur">
            <i class="fas fa-user"> {{searched_post.user.username}}</i>
          </p>
      </div>
      {%endfor%}
       {%else %}
    <section class="articles">
      {%for post in posts%}
      <div class="article">
        <div class="left">
          <img src="{{post.image.url}}" alt="" />
        </div>
        <div class="right">
          <p class="date">{{post.created_at}}</p>
          <h1>{{post.title}}</h1>
          <p class="description">
            {{post.description}}
          </p>
          <p class="auteur">
            <i class="fas fa-map-marker"> {{post.location}},{{post.wilaya}}</i>
          </p>
          <p class="auteur">
            <i class="fas fa-user"> {{post.user.username}}</i>
          </p>
          <div class="box">
            <a class="button1" href="#divOne"> Event</a>
          </div>
          <div class="overlay" id="divOne">
            <div class="wrapper">
              <h2>Please Fill up The Form</h2>
              <a class="close" href="#">&times;</a>
              <div class="content">
                <div class="container">
                    <form method="POST" enctype="multipart/form-data" >
                      {%csrf_token%}
                      {% for message in messages %}
                      <p>{{message}}</p>
                    {% endfor %}
                      <label></label>
                      
                        
                      
                        {% render_field form.title placeholder="Title" %}
                       
                      <label></label>
                      
                        
                      
                         {% render_field form.wilaya placeholder="Wilaya"  %}
                        
                      <label></label>
                      
                        
                         {% render_field form.location placeholder="Full Address"  value=post.location    %}
                      
                      <label></label>
                      
                        
                        {% render_field form.description placeholder="Description" %}
                      
                      <label></label>
                      
                        
                        {% render_field form.date placeholder="Date" %}
                      
                      <label></label>
                      
                        
                      {% render_field form.image placeholder="Choose a file" %}
                      
                      <label></label>
                      <input type="submit" class="btn btn-success" value="Submit" />
                    </form>
                </div>
              </div>
            </div>
          </div>



      </div>
      {%endfor%}
      {%endif%}
      

      
    
</section>
  </body>
</html>